//fontes
$font: 'Roboto', sans-serif;

//cores
$cor-primaria: #144272;
$cor-secundaria: #E1D7C6;
$cor-terciaria: #ECE8DD;
$cor-quartenaria: #22577E;
$cor-cinco: #406882;

 //tamanho das fontes
 $tamanho-do-texto: 3rem;
